In [4]:
pip install selenium

Requirement already satisfied: selenium in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (4.31.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from selenium) (0.29.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from selenium) (2024.12.14)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from trio~=0.17->selenium) (24.3.0)
Requirement already satisfied: sortedcontainers in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from trio~=0.17->selenium) (1.17.1)
Requirement already satisfied: exceptiongroup in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from selenium import webdriver 
from selenium.webdriver.common.by import By

In [2]:
driver= webdriver.Chrome()
driver.get("https://www.nba.com/lakers/team/stats")
stats=driver.find_elements(By.CLASS_NAME, "")

NameError: name 'webdriver' is not defined

In [10]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
import time
from bs4 import BeautifulSoup
import pandas as pd

# --- Set up Chrome WebDriver ---
options = Options()
# options.add_argument("--headless")  # Uncomment if you want to run in background
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

service = Service()  # Use your local ChromeDriver path if needed
driver = webdriver.Chrome(service=service, options=options)

# --- Load the Lakers stats page ---
url = "https://www.nba.com/lakers/team/stats"
driver.get(url)
time.sleep(8)  # Wait for JavaScript to load the stats

# --- Get the page content after rendering ---
soup = BeautifulSoup(driver.page_source, "html.parser")
driver.quit()

# --- Find the stats table (robust search) ---
table = soup.find("table")
if table is None:
    raise ValueError("⚠️ Could not find the stats table. Try disabling headless mode or increasing wait time.")

# --- Extract headers ---
thead = table.find("thead")
headers = [th.text.strip() for th in thead.find_all("th")]

# --- Extract player rows ---
tbody = table.find("tbody")
rows = tbody.find_all("tr")
data = []
for row in rows:
    cells = [td.text.strip() for td in row.find_all("td")]
    data.append(cells)

# --- Convert to DataFrame ---
df = pd.DataFrame(data, columns=headers)

# --- Save to CSV ---
df.to_csv("lakers_team_stats.csv", index=False)

# --- Preview ---
df

,Overall,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FT%,OREB,DREB,REB,AST,TO,STL,BLK,PF,+/-
0,2024-25,82,48.1,113.4,40.9,85.5,47.9,13.3,36.4,36.6,...,78.5,9.7,32.8,42.4,26,14,7.7,4.5,17.3,1.2

In [14]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from bs4 import BeautifulSoup
import pandas as pd

# --- Set up Chrome WebDriver ---
options = Options()
# options.add_argument("--headless")  # Uncomment if you want to run in background
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

service = Service()  # Use your local ChromeDriver path if needed
driver = webdriver.Chrome(service=service, options=options)

# --- Load the Lakers stats page ---
url = "https://www.nba.com/lakers/team/stats"
driver.get(url)

# --- Wait for the stats table to load ---
try:
    WebDriverWait(driver, 15).until(
        EC.presence_of_element_located((By.TAG_NAME, "table"))
    )
except:
    driver.quit()
    raise Exception("⚠️ Table didn't load. Try increasing wait time.")

# --- Get the page content after loading ---
soup = BeautifulSoup(driver.page_source, "html.parser")
driver.quit()

# --- Find the stats table ---
table = soup.find("table")
if table is None:
    raise ValueError("⚠️ Could not find the stats table.")

# --- Extract headers ---
thead = table.find("thead")
headers = [th.text.strip() for th in thead.find_all("th")]

# --- Extract player rows ---
tbody = table.find("tbody")
rows = tbody.find_all("tr")
data = []
for row in rows:
    cells = [td.text.strip() for td in row.find_all("td")]
    data.append(cells)

# --- Convert to DataFrame ---
df = pd.DataFrame(data, columns=headers)

# --- Save to CSV ---
df.to_csv("lakers_team_stats.csv", index=False)

# --- Preview ---
print(df)

   Overall  GP   MIN    PTS   FGM   FGA   FG%   3PM   3PA   3P%  ...   FT%  \
0  2024-25  82  48.1  113.4  40.9  85.5  47.9  13.3  36.4  36.6  ...  78.5

  OREB  DREB   REB AST  TO  STL  BLK    PF  +/-
0  9.7  32.8  42.4  26  14  7.7  4.5  17.3  1.2

[1 rows x 22 columns]

In [18]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup

# --- Set up Chrome WebDriver ---
options = Options()
options.add_argument("--headless")  # Run in background
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

service = Service()  # Use your local ChromeDriver path if needed
driver = webdriver.Chrome(service=service, options=options)

# --- Load the Reddit search page ---
url = "https://www.reddit.com/search/?q=lebron&cId=0d114e2f-3066-4ee6-b9e3-50c87fbe4bbc&iId=8b76bc8e-0693-4268-9161-689a76f36474"
driver.get(url)

# --- Wait for the posts to load ---
try:
    WebDriverWait(driver, 15).until(
        EC.presence_of_element_located((By.TAG_NAME, "div"))
    )
except:
    driver.quit()
    raise Exception("⚠️ Page didn't load. Try increasing wait time.")

# --- Get the page content after loading ---
soup = BeautifulSoup(driver.page_source, "html.parser")
driver.quit()

# --- Extract Reddit posts ---
post_titles = []
post_contents = []

# Find all post containers (usually each post is within a div with a specific class name)
posts = soup.find_all("div", class_="Post")
for post in posts:
    title = post.find("h3")  # Title of the post
    if title:
        post_titles.append(title.text.strip())
    
    # Extracting post content (if available)
    content = post.find("div", class_="RichTextJSON-root")
    if content:
        post_contents.append(content.text.strip())

# --- Prepare the data for saving in a text file ---
text_data = "Post Titles and Contents\n"
for title, content in zip(post_titles, post_contents):
    text_data += f"Title: {title}\nContent: {content}\n\n"

# --- Save to text file ---
with open("reddit_lebron_posts.txt", "w", encoding="utf-8") as file:
    file.write(text_data)

# --- Preview ---
print(text_data)

Post Titles and Contents

In [24]:
pip install lxml

Collecting lxml
  Downloading lxml-5.4.0-cp39-cp39-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.4.0-cp39-cp39-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 3.8/3.8 MB 22.7 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.4.0
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install webdriver-manager

Collecting webdriver-manager
  Downloading webdriver_manager-4.0.2-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: requests in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from webdriver-manager) (2.32.3)
Collecting python-dotenv (from webdriver-manager)
  Downloading python_dotenv-1.1.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: packaging in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from webdriver-manager) (24.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from requests->webdriver-manager) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from requests->webdriver-manager) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from requests->webdriver-manager) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jacob\anaconda3\envs\is310\lib\site-packages (from requests->webdriver-manager) (2024.12.14)
Downloading webdriver_manager-4.0.2-py2.py3-none-any.whl (27 kB)
Downloading python_dotenv-1.1.0-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv, webdriver-manager
Successfully installed python-dotenv-1.1.0 webdriver-manager-4.0.2
Note: you may need to restart the kernel to use updated packages.

In [25]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

# Setup Selenium WebDriver (this will handle the browser automation)
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

# URL of the player's stats page
url = "https://www.nba.com/stats/player/2544?SeasonType=Regular+Season&PerMode=Totals"
driver.get(url)

# Wait for the page to fully load (you might need to adjust this)
driver.implicitly_wait(10)

# Now, extract the page source after it has been fully loaded
page_source = driver.page_source

# You can use BeautifulSoup to parse this page source
from bs4 import BeautifulSoup
soup = BeautifulSoup(page_source, 'html.parser')

# Find all tables in the page
tables = soup.find_all('table')

# Loop through the tables and convert them to pandas DataFrames
dfs = []
for table in tables:
    # Convert each table into a pandas DataFrame
    df = pd.read_html(str(table))[0]
    dfs.append(df)

# Display the first table (or adjust based on the table you want)
print(dfs[0])

# Close the browser window
driver.quit()

C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\4094904899.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\4094904899.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\4094904899.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\4094904899.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\4094904899.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

   Traditional Splits                      Unnamed: 5_level_0  \
              By Year TEAM  GP   MIN   PTS                FGM
0             2024-25  LAL  70  2444  1710                651
1             2023-24  LAL  71  2504  1822                685
2             2022-23  LAL  55  1954  1590                609
3             2021-22  LAL  56  2084  1695                640
4             2020-21  LAL  45  1504  1126                422
5             2019-20  LAL  67  2316  1698                643
6             2018-19  LAL  55  1937  1505                558
7             2017-18  CLE  82  3026  2251                857
8             2016-17  CLE  74  2795  1954                736
9             2015-16  CLE  76  2709  1920                737
10            2014-15  CLE  69  2493  1743                624
11            2013-14  MIA  77  2902  2089                767
12            2012-13  MIA  76  2877  2036                765
13            2011-12  MIA  62  2326  1683                621
14            2010-11  MIA  79  3063  2111                758
15            2009-10  CLE  76  2966  2258                768
16            2008-09  CLE  81  3054  2304                789
17            2007-08  CLE  75  3027  2250                794
18            2006-07  CLE  78  3190  2132                772
19            2005-06  CLE  79  3361  2478                875
20            2004-05  CLE  80  3384  2175                795
21            2003-04  CLE  79  3127  1654                622

   Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
                  FGA                FG%                3PM
0                1270               51.3                149
1                1269               54.0                149
2                1219               50.0                121
3                1221               52.4                161
4                 823               51.3                104
5                1303               49.3                148
6                1095               51.0                111
7                1580               54.2                149
8                1344               54.8                124
9                1416               52.0                 87
10               1279               48.8                120
11               1353               56.7                116
12               1354               56.5                103
13               1169               53.1                 54
14               1485               51.0                 92
15               1528               50.3                129
16               1613               48.9                132
17               1642               48.4                113
18               1621               47.6                 99
19               1823               48.0                127
20               1684               47.2                108
21               1492               41.7                 63

   Unnamed: 9_level_0  ...  Traditional Splits                      \
                  3PA  ... Unnamed: 50_level_1 Unnamed: 51_level_1
0                 396  ...                 NaN                 NaN
1                 363  ...                 NaN                 NaN
2                 377  ...                 NaN                 NaN
3                 448  ...                 NaN                 NaN
4                 285  ...                 NaN                 NaN
5                 425  ...                 NaN                 NaN
6                 327  ...                 NaN                 NaN
7                 406  ...                 NaN                 NaN
8                 342  ...                 NaN                 NaN
9                 282  ...                 NaN                 NaN
10                339  ...                 NaN                 NaN
11                306  ...                 NaN                 NaN
12                254  ...                 NaN                 NaN
13                149  ...                 NaN                 NaN
14                279  ...                 NaN                 NaN
15                387  ...                 NaN                 NaN
16                384  ...                 NaN                 NaN
17                359  ...                 NaN                 NaN
18                310  ...                 NaN                 NaN
19                379  ...                 NaN                 NaN
20                308  ...                 NaN                 NaN
21                217  ...                 NaN                 NaN

                                                                \
   Unnamed: 52_level_1 Unnamed: 53_level_1 Unnamed: 54_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN                 NaN                 NaN
19                 NaN                 NaN                 NaN
20                 NaN                 NaN                 NaN
21                 NaN                 NaN                 NaN

                                                                \
   Unnamed: 55_level_1 Unnamed: 56_level_1 Unnamed: 57_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN                 NaN                 NaN
19                 NaN                 NaN                 NaN
20                 NaN                 NaN                 NaN
21                 NaN                 NaN                 NaN


   Unnamed: 58_level_1 Unnamed: 59_level_1
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
5                  NaN                 NaN
6                  NaN                 NaN
7                  NaN                 NaN
8                  NaN                 NaN
9                  NaN                 NaN
10                 NaN                 NaN
11                 NaN                 NaN
12                 NaN                 NaN
13                 NaN                 NaN
14                 NaN                 NaN
15                 NaN                 NaN
16                 NaN                 NaN
17                 NaN                 NaN
18                 NaN                 NaN
19                 NaN                 NaN
20                 NaN                 NaN
21                 NaN                 NaN

[22 rows x 60 columns]

In [28]:
# dfs

In [31]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

# Setup Selenium WebDriver (this will handle the browser automation)
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

# URL of the player's stats page
url = "https://www.nba.com/stats/player/2544?SeasonType=Regular+Season&PerMode=Totals"
driver.get(url)

# Wait for the page to fully load (you might need to adjust this)
driver.implicitly_wait(10)

# Now, extract the page source after it has been fully loaded
page_source = driver.page_source

# You can use BeautifulSoup to parse this page source
from bs4 import BeautifulSoup
soup = BeautifulSoup(page_source, 'html.parser')

# Find all tables in the page
tables = soup.find_all('table')

# Loop through the tables and convert them to pandas DataFrames
dfs = []
for table in tables:
    # Convert each table into a pandas DataFrame
    df = pd.read_html(str(table))[0]
    dfs.append(df)

# Choose the first DataFrame (or modify this if you need a different table)
#df = dfs[0]

# Save the DataFrame to a CSV file
df.to_csv('lebron.csv', index=False)

# Display the DataFrame (optional)
print(df)

# Close the browser window
driver.quit()

C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\5516012.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\5516012.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\5516012.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\5516012.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\5516012.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

   Usage Splits                      Unnamed: 5_level_0 Unnamed: 6_level_0  \
        By Year TEAM  GP   MIN  USG%               %FGM               %FGA
0       2024-25  LAL  70  2444  29.1               30.9               29.2
1       2023-24  LAL  71  2504  28.5               29.4               28.0
2       2022-23  LAL  55  1954  32.2               33.4               33.4
3       2021-22  LAL  56  2084  31.7               35.2               32.5
4       2020-21  LAL  45  1504  31.0               32.2               30.8
5       2019-20  LAL  67  2316  30.8               30.9               30.5
6       2018-19  LAL  55  1937  31.1               31.6               30.5
7       2017-18  CLE  82  3026  31.0               33.1               29.6
8       2016-17  CLE  74  2795  29.2               30.6               27.2
9       2015-16  CLE  76  2709  30.5               32.7               29.9
10      2014-15  CLE  69  2493  31.8               30.9               30.4
11      2013-14  MIA  77  2902  30.3               32.8               29.7
12      2012-13  MIA  76  2877  29.4               32.3               28.9
13      2011-12  MIA  62  2326  31.1               33.8               30.6
14      2010-11  MIA  79  3063  30.7               31.9               30.3
15      2009-10  CLE  76  2966  32.8               32.0               31.7
16      2008-09  CLE  81  3054  33.0               32.9               31.9
17      2007-08  CLE  75  3027  32.8               34.2               31.9
18      2006-07  CLE  78  3190  30.3               31.6               30.1
19      2005-06  CLE  79  3361  32.9               34.6               33.1
20      2004-05  CLE  80  3384  29.2               30.9               29.5
21      2003-04  CLE  79  3127  27.6               26.4               27.9

   Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
                 %3PM               %3PA               %FTM  ...
0                22.6               21.4               28.6  ...
1                24.3               22.7               31.9  ...
2                26.7               29.2               33.0  ...
3                29.6               29.5               37.2  ...
4                28.3               28.0               32.6  ...
5                26.5               27.1               33.4  ...
6                27.8               27.1               40.3  ...
7                18.6               19.4               34.1  ...
8                15.8               16.9               35.5  ...
9                14.1               17.0               37.3  ...
10               22.5               24.2               37.9  ...
11               22.3               21.8               39.2  ...
12               20.1               19.7               37.0  ...
13               20.0               19.7               39.7  ...
14               23.7               25.5               34.6  ...
15               26.7               30.6               47.7  ...
16               24.9               28.2               47.4  ...
17               25.9               29.7               47.2  ...
18               25.5               27.9               41.2  ...
19               29.3               30.0               41.8  ...
20               42.0               39.7               33.8  ...
21               33.2               35.7               28.2  ...

          Usage Splits                                          \
   Unnamed: 50_level_1 Unnamed: 51_level_1 Unnamed: 52_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN                 NaN                 NaN
19                 NaN                 NaN                 NaN
20                 NaN                 NaN                 NaN
21                 NaN                 NaN                 NaN

                                                                \
   Unnamed: 53_level_1 Unnamed: 54_level_1 Unnamed: 55_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN                 NaN                 NaN
19                 NaN                 NaN                 NaN
20                 NaN                 NaN                 NaN
21                 NaN                 NaN                 NaN

                                                                \
   Unnamed: 56_level_1 Unnamed: 57_level_1 Unnamed: 58_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN                 NaN                 NaN
19                 NaN                 NaN                 NaN
20                 NaN                 NaN                 NaN
21                 NaN                 NaN                 NaN


   Unnamed: 59_level_1
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN

[22 rows x 60 columns]

### Curry CSV

In [38]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

# Setup Selenium WebDriver (this will handle the browser automation)
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

# URL of the player's stats page
url = "https://www.nba.com/stats/player/201939"
driver.get(url)

# Wait for the page to fully load (you might need to adjust this)
driver.implicitly_wait(10)

# Now, extract the page source after it has been fully loaded
page_source = driver.page_source

# You can use BeautifulSoup to parse this page source
from bs4 import BeautifulSoup
soup = BeautifulSoup(page_source, 'html.parser')

# Find all tables in the page
tables = soup.find_all('table')

# Loop through the tables and convert them to pandas DataFrames
dfs = []
for table in tables:
    # Convert each table into a pandas DataFrame
    df = pd.read_html(str(table))[0]
    dfs.append(df)

# Choose the first DataFrame (or modify this if you need a different table)
#df = dfs[0]

# Save the DataFrame to a CSV file
df.to_csv('curry.csv', index=False)

# Display the DataFrame (optional)
print(df)

# Close the browser window
driver.quit()

C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\311695429.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\311695429.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\311695429.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\311695429.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\311695429.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

   Usage Splits                      Unnamed: 5_level_0 Unnamed: 6_level_0  \
        By Year TEAM  GP   MIN  USG%               %FGM               %FGA
0       2024-25  GSW  70  2252  28.6               27.6               29.2
1       2023-24  GSW  74  2422  30.2               29.2               31.4
2       2022-23  GSW  56  1941  29.7               30.3               30.4
3       2021-22  GSW  64  2211  29.3               27.4               30.2
4       2020-21  GSW  63  2152  33.1               33.9               34.0
5       2019-20  GSW   5   139  28.6               26.2               27.8
6       2018-19  GSW  69  2331  29.2               28.3               30.4
7       2017-18  GSW  51  1631  29.0               27.3               29.0
8       2016-17  GSW  79  2639  28.6               27.0               29.3
9       2015-16  GSW  79  2700  31.4               32.5               32.4
10      2014-15  GSW  80  2613  27.7               27.4               27.6
11      2013-14  GSW  78  2846  27.5               26.7               27.1
12      2012-13  GSW  78  2983  25.7               25.7               26.4
13      2011-12  GSW  26   732  23.0               23.7               22.8
14      2010-11  GSW  74  2489  23.7               23.9               23.4
15      2009-10  GSW  80  2896  21.5               21.3               22.0

   Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
                 %3PM               %3PA               %FTM  ...
0                40.8               38.9               34.3  ...
1                45.7               43.8               36.2  ...
2                38.7               36.2               41.4  ...
3                40.0               39.4               39.5  ...
4                48.1               43.9               44.4  ...
5                31.6               38.6               46.4  ...
6                47.9               44.1               31.6  ...
7                41.9               42.1               41.2  ...
8                41.8               41.0               30.8  ...
9                46.6               43.9               37.3  ...
10               40.4               37.7               35.0  ...
11               42.8               40.7               32.6  ...
12               48.9               44.8               26.3  ...
13               38.5               35.2               18.3  ...
14               34.2               30.6               25.9  ...
15               33.3               30.4               15.0  ...

          Usage Splits                                          \
   Unnamed: 50_level_1 Unnamed: 51_level_1 Unnamed: 52_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN

                                                                \
   Unnamed: 53_level_1 Unnamed: 54_level_1 Unnamed: 55_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN

                                                                \
   Unnamed: 56_level_1 Unnamed: 57_level_1 Unnamed: 58_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN


   Unnamed: 59_level_1
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN

[16 rows x 60 columns]

### KD CSV

In [39]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

# Setup Selenium WebDriver (this will handle the browser automation)
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

# URL of the player's stats page
url = "https://www.nba.com/stats/player/201142"
driver.get(url)

# Wait for the page to fully load (you might need to adjust this)
driver.implicitly_wait(10)

# Now, extract the page source after it has been fully loaded
page_source = driver.page_source

# You can use BeautifulSoup to parse this page source
from bs4 import BeautifulSoup
soup = BeautifulSoup(page_source, 'html.parser')

# Find all tables in the page
tables = soup.find_all('table')

# Loop through the tables and convert them to pandas DataFrames
dfs = []
for table in tables:
    # Convert each table into a pandas DataFrame
    df = pd.read_html(str(table))[0]
    dfs.append(df)

# Choose the first DataFrame (or modify this if you need a different table)
#df = dfs[0]

# Save the DataFrame to a CSV file
df.to_csv('kevin durant.csv', index=False)

# Display the DataFrame (optional)
print(df)

# Close the browser window
driver.quit()

C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3177765408.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3177765408.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3177765408.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3177765408.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3177765408.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

   Usage Splits                      Unnamed: 5_level_0 Unnamed: 6_level_0  \
        By Year TEAM  GP   MIN  USG%               %FGM               %FGA
0       2024-25  PHX  62  2265  28.3               29.8               28.4
1       2023-24  PHX  75  2791  28.3               29.7               28.7
2       2022-23  TOT  47  1672  30.5               31.9               29.7
3       2022-23  PHX   8   269  27.3               30.8               27.5
4       2022-23  BKN  39  1403  31.1               32.1               30.1
5       2021-22  BKN  55  2047  31.0               31.1               30.2
6       2020-21  BKN  35  1157  30.3               29.5               28.9
7       2018-19  GSW  78  2702  28.3               28.3               27.6
8       2017-18  GSW  68  2325  29.3               29.5               29.4
9       2016-17  GSW  62  2070  27.1               28.6               27.3
10      2015-16  OKC  72  2578  29.8               30.8               29.9
11      2014-15  OKC  27   913  28.0               31.6               28.3
12      2013-14  OKC  81  3122  32.2               33.1               31.5
13      2012-13  OKC  81  3119  29.5               29.4               28.1
14      2011-12  OKC  66  2546  30.3               32.2               30.6
15      2010-11  OKC  78  3038  29.6               29.7               30.2
16      2009-10  OKC  82  3239  31.1               30.9               30.4
17      2008-09  OKC  74  2885  27.7               30.4               28.3
18      2007-08  SEA  80  2768  27.3               26.8               27.6

   Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
                 %3PM               %3PA               %FTM  ...
0                24.3               22.8               36.4  ...
1                22.6               21.8               33.2  ...
2                22.1               21.9               50.7  ...
3                33.3               24.4               36.0  ...
4                20.1               21.5               54.0  ...
5                23.6               23.2               46.3  ...
6                23.8               22.7               44.2  ...
7                17.7               19.8               43.0  ...
8                29.0               27.9               41.1  ...
9                21.8               22.8               39.6  ...
10               41.2               37.5               39.2  ...
11               40.8               34.0               37.2  ...
12               36.9               33.5               50.0  ...
13               30.2               27.6               45.3  ...
14               37.7               34.7               37.2  ...
15               44.2               40.8               37.9  ...
16               36.7               34.0               48.7  ...
17               38.6               32.1               38.2  ...
18               28.6               32.7               37.6  ...

          Usage Splits                                          \
   Unnamed: 50_level_1 Unnamed: 51_level_1 Unnamed: 52_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN                 NaN                 NaN

                                                                \
   Unnamed: 53_level_1 Unnamed: 54_level_1 Unnamed: 55_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN                 NaN                 NaN

                                                                \
   Unnamed: 56_level_1 Unnamed: 57_level_1 Unnamed: 58_level_1
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
5                  NaN                 NaN                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN                 NaN                 NaN


   Unnamed: 59_level_1
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN

[19 rows x 60 columns]

## Giannis CSV

In [40]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

# Setup Selenium WebDriver (this will handle the browser automation)
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

# URL of the player's stats page
url = "https://www.nba.com/stats/player/203507"
driver.get(url)

# Wait for the page to fully load (you might need to adjust this)
driver.implicitly_wait(10)

# Now, extract the page source after it has been fully loaded
page_source = driver.page_source

# You can use BeautifulSoup to parse this page source
from bs4 import BeautifulSoup
soup = BeautifulSoup(page_source, 'html.parser')

# Find all tables in the page
tables = soup.find_all('table')

# Loop through the tables and convert them to pandas DataFrames
dfs = []
for table in tables:
    # Convert each table into a pandas DataFrame
    df = pd.read_html(str(table))[0]
    dfs.append(df)

# Choose the first DataFrame (or modify this if you need a different table)
#df = dfs[0]

# Save the DataFrame to a CSV file
df.to_csv('giannis.csv', index=False)

# Display the DataFrame (optional)
print(df)

# Close the browser window
driver.quit()

C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3304029617.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3304029617.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3304029617.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3304029617.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3304029617.py:31: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

  Usage Splits                     Unnamed: 5_level_0 Unnamed: 6_level_0  \
       By Year TEAM  GP  MIN  USG%               %FGM               %FGA
0      2024-25  MIL   4  144  35.9               42.5               31.9
1      2022-23  MIL   3   91  34.2               37.3               32.1
2      2021-22  MIL  12  448  37.3               38.0               34.8
3      2020-21  MIL  21  800  31.4               35.9               29.3
4      2019-20  MIL   9  277  33.9               37.5               31.4
5      2018-19  MIL  15  514  31.0               31.1               28.0
6      2017-18  MIL   7  280  27.6               30.7               27.1
7      2016-17  MIL   6  243  29.8               33.5               28.2
8      2014-15  MIL   6  201  20.4               18.6               19.3

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
                %3PM               %3PA               %FTM  ...
0                0.0                2.9               58.9  ...
1                0.0                4.8               32.6  ...
2                8.2               13.1               59.1  ...
3                7.3               12.1               48.6  ...
4               15.9               17.2               50.0  ...
5               13.1               13.3               46.1  ...
6                7.4                9.9               44.2  ...
7                8.7                9.0               34.2  ...
8                0.0                1.6               30.4  ...

         Usage Splits                                          \
  Unnamed: 50_level_1 Unnamed: 51_level_1 Unnamed: 52_level_1
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN
5                 NaN                 NaN                 NaN
6                 NaN                 NaN                 NaN
7                 NaN                 NaN                 NaN
8                 NaN                 NaN                 NaN

                                                               \
  Unnamed: 53_level_1 Unnamed: 54_level_1 Unnamed: 55_level_1
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN
5                 NaN                 NaN                 NaN
6                 NaN                 NaN                 NaN
7                 NaN                 NaN                 NaN
8                 NaN                 NaN                 NaN

                                                               \
  Unnamed: 56_level_1 Unnamed: 57_level_1 Unnamed: 58_level_1
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN
5                 NaN                 NaN                 NaN
6                 NaN                 NaN                 NaN
7                 NaN                 NaN                 NaN
8                 NaN                 NaN                 NaN


  Unnamed: 59_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN

[9 rows x 60 columns]

### The code with the function

In [37]:
# # scrape_multi_players.py

# from selenium import webdriver
# from selenium.webdriver.chrome.service import Service
# from selenium.webdriver.chrome.options import Options
# from webdriver_manager.chrome import ChromeDriverManager
# from bs4 import BeautifulSoup
# import pandas as pd
# import time
# import re

# # --- Set up Chrome WebDriver ---
# options = Options()
# # options.add_argument("--headless")      # Uncomment to run in background
# options.add_argument("--no-sandbox")
# options.add_argument("--disable-dev-shm-usage")

# service = Service(ChromeDriverManager().install())
# driver = webdriver.Chrome(service=service, options=options)

# # --- List of player-stats URLs ---
# players = [
#     "https://www.nba.com/stats/player/2544?SeasonType=Regular+Season&PerMode=Totals",
#     "https://www.nba.com/stats/player/201939?PerMode=Totals",
#     "https://www.nba.com/stats/player/977/career",
#     "https://www.nba.com/stats/player/203999?SeasonType=Regular+Season&PerMode=Totals",
#     "https://www.nba.com/stats/player/406/career?PerMode=Totals",
#     "https://www.nba.com/stats/player/201566?SeasonType=Regular+Season&PerMode=Totals",
#     "https://www.nba.com/stats/player/203507?SeasonType=Regular+Season&PerMode=Totals"
# ]

# # Will hold your DataFrames if you need them after the loop
# all_dfs = {}

# for url in players:
#     driver.get(url)
#     # give JS time to render the table
#     time.sleep(8)

#     # pull in the rendered DOM
#     soup = BeautifulSoup(driver.page_source, "html.parser")

#     # find the first <table> on the page
#     table = soup.find("table")
#     if table is None:
#         print(f"No table found at {url}")
#         continue

#     # pandas will parse out the HTML table for us
#     df = pd.read_html(str(table))[0]

#     # extract the player ID from the URL for naming
#     name = driver.find_element(By.CLASS_NAME, "PlayerSummary_playerNameText___MhqC").text


#     # save to CSV
#     csv_name = f"player_{name}_stats.csv"
#     df.to_csv(csv_name, index=False)
#     print(f"✔️ Saved main table for player {name} to {csv_name}")

#     # stash the DataFrame if you need it later
#     all_dfs[pid] = df

# driver.quit()

# # optional: do something with all_dfs, e.g. display keys
# print("Done. DataFrames created for:", list(all_dfs.keys()))

Data Analysis

In [42]:
df_giannis=pd.read_csv("giannis.csv")
df_giannis

,Usage Splits,Usage Splits.1,Usage Splits.2,Usage Splits.3,Usage Splits.4,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Usage Splits.25,Usage Splits.26,Usage Splits.27,Usage Splits.28,Usage Splits.29,Usage Splits.30,Usage Splits.31,Usage Splits.32,Usage Splits.33,Usage Splits.34
0,By Year,TEAM,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM,...,Unnamed: 50_level_1,Unnamed: 51_level_1,Unnamed: 52_level_1,Unnamed: 53_level_1,Unnamed: 54_level_1,Unnamed: 55_level_1,Unnamed: 56_level_1,Unnamed: 57_level_1,Unnamed: 58_level_1,Unnamed: 59_level_1
1,2024-25,MIL,4,144,35.9,42.5,31.9,0.0,2.9,58.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-23,MIL,3,91,34.2,37.3,32.1,0.0,4.8,32.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-22,MIL,12,448,37.3,38.0,34.8,8.2,13.1,59.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-21,MIL,21,800,31.4,35.9,29.3,7.3,12.1,48.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-20,MIL,9,277,33.9,37.5,31.4,15.9,17.2,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018-19,MIL,15,514,31.0,31.1,28.0,13.1,13.3,46.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-18,MIL,7,280,27.6,30.7,27.1,7.4,9.9,44.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016-17,MIL,6,243,29.8,33.5,28.2,8.7,9.0,34.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-15,MIL,6,201,20.4,18.6,19.3,0.0,1.6,30.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df_cleaned_giannis=df_giannis.iloc[:,:10]
df_cleaned_giannis

,Usage Splits,Usage Splits.1,Usage Splits.2,Usage Splits.3,Usage Splits.4,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0
0,By Year,TEAM,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM
1,2024-25,MIL,4,144,35.9,42.5,31.9,0.0,2.9,58.9
2,2022-23,MIL,3,91,34.2,37.3,32.1,0.0,4.8,32.6
3,2021-22,MIL,12,448,37.3,38.0,34.8,8.2,13.1,59.1
4,2020-21,MIL,21,800,31.4,35.9,29.3,7.3,12.1,48.6
5,2019-20,MIL,9,277,33.9,37.5,31.4,15.9,17.2,50.0
6,2018-19,MIL,15,514,31.0,31.1,28.0,13.1,13.3,46.1
7,2017-18,MIL,7,280,27.6,30.7,27.1,7.4,9.9,44.2
8,2016-17,MIL,6,243,29.8,33.5,28.2,8.7,9.0,34.2
9,2014-15,MIL,6,201,20.4,18.6,19.3,0.0,1.6,30.4

In [49]:
df_lebron=pd.read_csv('lebron.csv')
df_cleaned_lebron=df_lebron.iloc[:,:10]
df_cleaned_giannis

,Usage Splits,Usage Splits.1,Usage Splits.2,Usage Splits.3,Usage Splits.4,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0
0,By Year,TEAM,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM
1,2024-25,MIL,4,144,35.9,42.5,31.9,0.0,2.9,58.9
2,2022-23,MIL,3,91,34.2,37.3,32.1,0.0,4.8,32.6
3,2021-22,MIL,12,448,37.3,38.0,34.8,8.2,13.1,59.1
4,2020-21,MIL,21,800,31.4,35.9,29.3,7.3,12.1,48.6
5,2019-20,MIL,9,277,33.9,37.5,31.4,15.9,17.2,50.0
6,2018-19,MIL,15,514,31.0,31.1,28.0,13.1,13.3,46.1
7,2017-18,MIL,7,280,27.6,30.7,27.1,7.4,9.9,44.2
8,2016-17,MIL,6,243,29.8,33.5,28.2,8.7,9.0,34.2
9,2014-15,MIL,6,201,20.4,18.6,19.3,0.0,1.6,30.4

In [51]:
df_curry=pd.read_csv('curry.csv')
df_cleaned_curry=df_curry.iloc[:,:10]
df_cleaned_curry

,Usage Splits,Usage Splits.1,Usage Splits.2,Usage Splits.3,Usage Splits.4,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0
0,By Year,TEAM,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM
1,2024-25,GSW,70,2252,28.6,27.6,29.2,40.8,38.9,34.3
2,2023-24,GSW,74,2422,30.2,29.2,31.4,45.7,43.8,36.2
3,2022-23,GSW,56,1941,29.7,30.3,30.4,38.7,36.2,41.4
4,2021-22,GSW,64,2211,29.3,27.4,30.2,40.0,39.4,39.5
5,2020-21,GSW,63,2152,33.1,33.9,34.0,48.1,43.9,44.4
6,2019-20,GSW,5,139,28.6,26.2,27.8,31.6,38.6,46.4
7,2018-19,GSW,69,2331,29.2,28.3,30.4,47.9,44.1,31.6
8,2017-18,GSW,51,1631,29.0,27.3,29.0,41.9,42.1,41.2
9,2016-17,GSW,79,2639,28.6,27.0,29.3,41.8,41.0,30.8
10,2015-16,GSW,79,2700,31.4,32.5,32.4,46.6,43.9,37.3
11,2014-15,GSW,80,2613,27.7,27.4,27.6,40.4,37.7,35.0
12,2013-14,GSW,78,2846,27.5,26.7,27.1,42.8,40.7,32.6
13,2012-13,GSW,78,2983,25.7,25.7,26.4,48.9,44.8,26.3
14,2011-12,GSW,26,732,23.0,23.7,22.8,38.5,35.2,18.3
15,2010-11,GSW,74,2489,23.7,23.9,23.4,34.2,30.6,25.9
16,2009-10,GSW,80,2896,21.5,21.3,22.0,33.3,30.4,15.0

In [54]:
df_kd=pd.read_csv("kevin durant.csv")
df_cleaned_kd=df_kd.iloc[:,:10]
df_cleaned_kd

,Usage Splits,Usage Splits.1,Usage Splits.2,Usage Splits.3,Usage Splits.4,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0
0,By Year,TEAM,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM
1,2024-25,PHX,62,2265,28.3,29.8,28.4,24.3,22.8,36.4
2,2023-24,PHX,75,2791,28.3,29.7,28.7,22.6,21.8,33.2
3,2022-23,TOT,47,1672,30.5,31.9,29.7,22.1,21.9,50.7
4,2022-23,PHX,8,269,27.3,30.8,27.5,33.3,24.4,36.0
5,2022-23,BKN,39,1403,31.1,32.1,30.1,20.1,21.5,54.0
6,2021-22,BKN,55,2047,31.0,31.1,30.2,23.6,23.2,46.3
7,2020-21,BKN,35,1157,30.3,29.5,28.9,23.8,22.7,44.2
8,2018-19,GSW,78,2702,28.3,28.3,27.6,17.7,19.8,43.0
9,2017-18,GSW,68,2325,29.3,29.5,29.4,29.0,27.9,41.1
10,2016-17,GSW,62,2070,27.1,28.6,27.3,21.8,22.8,39.6
11,2015-16,OKC,72,2578,29.8,30.8,29.9,41.2,37.5,39.2
12,2014-15,OKC,27,913,28.0,31.6,28.3,40.8,34.0,37.2
13,2013-14,OKC,81,3122,32.2,33.1,31.5,36.9,33.5,50.0
14,2012-13,OKC,81,3119,29.5,29.4,28.1,30.2,27.6,45.3
15,2011-12,OKC,66,2546,30.3,32.2,30.6,37.7,34.7,37.2
16,2010-11,OKC,78,3038,29.6,29.7,30.2,44.2,40.8,37.9
17,2009-10,OKC,82,3239,31.1,30.9,30.4,36.7,34.0,48.7
18,2008-09,OKC,74,2885,27.7,30.4,28.3,38.6,32.1,38.2
19,2007-08,SEA,80,2768,27.3,26.8,27.6,28.6,32.7,37.6

In [70]:
df_cleaned_lebron

,Usage Splits,Usage Splits.1,Usage Splits.2,Usage Splits.3,Usage Splits.4,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0
0,By Year,TEAM,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM
1,2024-25,LAL,70,2444,29.1,30.9,29.2,22.6,21.4,28.6
2,2023-24,LAL,71,2504,28.5,29.4,28.0,24.3,22.7,31.9
3,2022-23,LAL,55,1954,32.2,33.4,33.4,26.7,29.2,33.0
4,2021-22,LAL,56,2084,31.7,35.2,32.5,29.6,29.5,37.2
5,2020-21,LAL,45,1504,31.0,32.2,30.8,28.3,28.0,32.6
6,2019-20,LAL,67,2316,30.8,30.9,30.5,26.5,27.1,33.4
7,2018-19,LAL,55,1937,31.1,31.6,30.5,27.8,27.1,40.3
8,2017-18,CLE,82,3026,31.0,33.1,29.6,18.6,19.4,34.1
9,2016-17,CLE,74,2795,29.2,30.6,27.2,15.8,16.9,35.5
10,2015-16,CLE,76,2709,30.5,32.7,29.9,14.1,17.0,37.3
11,2014-15,CLE,69,2493,31.8,30.9,30.4,22.5,24.2,37.9
12,2013-14,MIA,77,2902,30.3,32.8,29.7,22.3,21.8,39.2
13,2012-13,MIA,76,2877,29.4,32.3,28.9,20.1,19.7,37.0
14,2011-12,MIA,62,2326,31.1,33.8,30.6,20.0,19.7,39.7
15,2010-11,MIA,79,3063,30.7,31.9,30.3,23.7,25.5,34.6
16,2009-10,CLE,76,2966,32.8,32.0,31.7,26.7,30.6,47.7
17,2008-09,CLE,81,3054,33.0,32.9,31.9,24.9,28.2,47.4
18,2007-08,CLE,75,3027,32.8,34.2,31.9,25.9,29.7,47.2
19,2006-07,CLE,78,3190,30.3,31.6,30.1,25.5,27.9,41.2
20,2005-06,CLE,79,3361,32.9,34.6,33.1,29.3,30.0,41.8
21,2004-05,CLE,80,3384,29.2,30.9,29.5,42.0,39.7,33.8
22,2003-04,CLE,79,3127,27.6,26.4,27.9,33.2,35.7,28.2

In [74]:
df_cleaned_lebron['Usage Splits.3'] = pd.to_numeric(df_cleaned_lebron['Usage Splits.3'], errors='coerce')
mean_value = df_cleaned_lebron['Usage Splits.3'].mean()
print(mean_value)

2683.7727272727275

C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\3435090115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_lebron['Usage Splits.3'] = pd.to_numeric(df_cleaned_lebron['Usage Splits.3'], errors='coerce')

In [76]:
df_cleaned_kd['Usage Splits.3'] = pd.to_numeric(df_cleaned_kd['Usage Splits.3'], errors='coerce')
mean_value_kd = df_cleaned_kd['Usage Splits.3'].mean()
print(mean_value_kd)

2258.3684210526317

C:\Users\Jacob\AppData\Local\Temp\ipykernel_27468\1698934918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_kd['Usage Splits.3'] = pd.to_numeric(df_cleaned_kd['Usage Splits.3'], errors='coerce')